
<div class="grid-block medium-12 contactSection">
    <div class="grid-contact medium-6 text-center">
        <h4><strong><span>Anna Shmagel, MD</span></strong></h4>
        <h5><span>University of Minnesota Rheumatology</span></h5>
        <img class="profilePhotoMedium"src="assets/img/pp.jpg" alt="Anna Shmagel">        
    </div>
    
    <div class="grid-contact medium-6 text-center extraPadding">
        <img zf-iconic="" icon="share-boxed" size="medium"><h5><a href=""><span style="color: #404040">email@gmail.com</span></a></h5><br><br>
        <img zf-iconic="" icon="person" size="medium">
        <h5><a href=""><span style="color: #404040">612-XXX-XXXX</span></a></h5><br><br>
        <img zf-iconic="" icon="envelope" size="medium"><h5><a href="https://www.google.com/maps/place/420+Delaware+St+SE,+Minneapolis,+MN+55455/data=!4m2!3m1!1s0x52b32d3d98d6bf05:0x1e986a33d9d33e9e?sa=X&ved=0ahUKEwj18fqXrrTKAhUD6SYKHWzpDX0Q8gEIGzAA"><span style="color: #404040">420 Delaware Street SE<br>
        Minneapolis, MN 55455</span></a></h5>
    </div>
</div>