
<div class="grid-block medium-12 educationSection">

    <div class="grid-block v-align">
        <div class="grid-content medium-4 large-3 text-center align-center">
        <p><a href="http://www.sph.umn.edu/"><img src="assets/img/umnsquare.png" alt=""></a></p>
        </div>

        <div class="grid-content medium-4 large-3 text-center align-center">
        <p><strong>University of Minnesota School of Public Health</strong><br>
        Minneapolis, Minnesota<br>
        September 2014-present</p>
        </div>

        <div class="grid-content medium-4 large-3 text-left align-center">
        <p>Master's of Science in Clinical Research candidate<br>Expected graduation: June 2016</p>
        </div>

        <div class="grid-content show-for-large large-3 text-center align-center"> 
        <p><a href="http://www.sph.umn.edu/"><img id="" src="assets/img/umnmed.jpg" alt=""></a></p>
        </div>
    </div>


    <div class="grid-block v-align">
        <div class="grid-content medium-4 large-3 text-center align-center">
        <p><a href="http://www.mma.ru/en"><img src="assets/img/sech.png" alt=""></a></p>
        </div>

        <div class="grid-content medium-4 large-3 text-center align-center">
        <p><strong>I.M. Sechenov Moscow Medical Academy</strong><br>
        Moscow, Russia<br>
        September 2006-June 2008</p>
        </div>

        <div class="grid-content medium-4 large-3 text-left align-center">
        <p>Doctor of Medicine degree awarded<br>
        Graduated with honors</p>
        </div>

        <div class="grid-content show-for-large large-3 text-center align-center">
        <p><a href="http://www.mma.ru/en"><img id="" src="assets/img/mma.jpg" alt=""></a></p>
        </div>
    </div>


    <div class="grid-block v-align">
        <div class="grid-content medium-4 large-3 text-center align-center">
        <p><a href="http://www.psma.ru/"><img src="assets/img/psmulogo.jpg" alt=""></a></p>
        </div>

        <div class="grid-content medium-4 large-3 text-center align-center">      
        <p><strong>Perm State Medical Academy</strong><br>
        Perm, Russia<br>
        July 2009-June 2012</p>
        </div>

        <div class="grid-content medium-4 large-3 text-left align-center">
        <p>Completed years three and four of the six-year Doctor of Medicine degree program<br>
        Transferred to I.M. Sechenov Moscow Medical Academy</p>
        </div>

        <div class="grid-content show-for-large large-3 text-center align-center">
        <p><a href="http://www.okb.jpg"><img id="" src="assets/img/okb.jpg" alt=""></a></p>
        </div>
    </div>


    <div class="grid-block v-align">
        <div class="grid-content medium-4 large-3 text-center align-center">      
        <p><a href="http://www.grinnell.edu/"><img src="assets/img/gc.png" alt=""></a></p>
        </div>

        <div class="grid-content medium-4 large-3 text-center align-center">   
        <p><strong>Grinnell College</strong><br>
        Grinnell, Iowa<br>
        August 2003-May 2004</p>
        </div>

        <div class="grid-content medium-4 large-3 text-left align-center">
        <p>Completed 2 semesters of undergraduate coursework in sociology and neuropsychology on a competitive US government-sponsored academic exchange scholarship (UGRAD)</p>
        </div>

        <div class="grid-content show-for-large large-3 text-center align-center">
        <p><a href="http://www.grinnell.edu/"><img id="" src="assets/img/gchero.jpg" alt=""></a></p>
        </div>
    </div>

</div>