
<div class="grid-block medium-12 experienceSection">

	<div class="grid-block v-align">
        <div class="grid-content medium-4 large-3 align-center">       
        <p><a href="http://www.dom.umn.edu/rheumatic-and-autoimmune-diseases/"><img class="mnlogo" src="assets/img/mnyellow.png" alt=""></a></p>
        </div>

        <div class="grid-content medium-4 large-3 text-center align-center">
        <p><strong>Rheumatology Fellow</strong><br>
        Minneapolis, Minnesota<br>
        July 2013-present</p>
        </div>

        <div class="grid-content medium-4 large-3 text-left align-center">       
        <p>NIH T32 grant scholar<br>
        (Division of Renal Diseases, PI: Dr. Hassan Ibrahim)</p>
        </div>

        <div class="grid-content show-for-large large-3 text-center align-center">       
        <p><a href="http://www.dom.umn.edu/rheumatic-and-autoimmune-diseases/"><img id="" src="assets/img/mnpano.jpg" alt=""></a></p>
        </div>
    </div>

    <div class="grid-block v-align">
        <div class="grid-content medium-4 large-3 text-center align-center">
        <p><a href="http://www.northshore.org"><img id="nsuhlogo" src="assets/img/nsuhlogo2.jpg" alt=""></a></p>
        </div>

        <div class="grid-content medium-4 large-3 text-center align-center">
        <p><strong>Clinician-Educator</strong><br>
        Chicago, Illinois<br>
        July 2012-June 2013</p>
        </div>

        <div class="grid-content medium-4 large-3 align-center">       
        <p>Instructed North Shore Internal Medicine residents, performed Hospitalist duties<br><br>
        Clinician educator at Univesity of Chicago, Pritzker School of Medicine
        </div>

        <div class="grid-content show-for-large large-3 text-center align-center">       
        <p><a href="http://www.northshore.org"><img id="" src="assets/img/nsuhevanston.jpg" alt=""></a></p>
        </div>
    </div>


    <div class="grid-block v-align">
        <div class="grid-content medium-4 large-3 text-center align-center">
        <p><a href="http://www.mercy-chicago.org"><img id="mhmclogo" src="assets/img/mhmclogo.jpg" alt=""></a></p>
        </div>

        <div class="grid-content medium-4 large-3 text-center align-center">               
        <p><strong>Internal Medicine Resident</strong><br>
        Chicago, Illinois<br>
        July 2009-June 2012</p>
        </div>

        <div class="grid-content medium-4 large-3 align-center">               
        <p>Internal Medicine Program Representative, Institutional G.M.E. Committee<br><br>
        Member, Committee for Patient Handoffs</p>
        </div>

        <div class="grid-content show-for-large large-3 text-center align-center">       
        <p><a href="http://www.mercy-chicago.org"><img id="" src="assets/img/mhmcchicago.jpg" alt=""></a></p>
        </div>
    </div>


    <div class="grid-block v-align">
        <div class="grid-content medium-4 large-3 text-center">      
        <p><a href="http://www.feinsteininstitute.org/"><img id="feinsteinlog" src="assets/img/feinsteinlogo.png" alt=""></a></p>
        </div>

        <div class="grid-content medium-4 large-3 text-center align-center">       
        <p><strong>Feinstein Institute for Medical Research</strong><br>
        Manhasset, New York<br>
        March 2009-May 2009</p>
        </div>

        <div class="grid-content medium-4 large-3 align-center">       
        <p>Research assistant for the Study of Cognitive Function in SLE (Autoimmune and Musculoskeletal Disease Group, PI: Dr. Betty Diamond)</p>       
        </div>

        <div class="grid-content show-for-large large-3 text-center align-center">       
        <p><a href="http://www.feinsteininstitute.org/"><img id="" src="assets/img/feinstein.jpg" alt=""></a></p>
        </div>
    </div>
</div>
