
<div class="grid-block medium-12 presentationsSection">

    <div zf-modal="" id="basicModalVitD" class="large tallmodal">
        <a zf-close="" class="close-button">×</a><br><br>
        <div>
        <iframe src="https://drive.google.com/file/d/0BwVrq5oykPN5UUJLWkF2M29qeXc/preview" width="100%" height="550"></iframe>
<!--            <object data="assets/pdf/vitamindposter.pdf" type="application/pdf" width="100%" height="650px">
        <embed src="assets/pdf/vitamindposter.pdf" type="application/pdf" width="100%" height="650px"></embed>
        </object> -->
      </div>
    </div>

    <div zf-tabs="">
        <div zf-tab="" title="National Conferences">
            <h5><strong>Presentations at National Conferences</strong></h5><br><br>
            <p><strong>Illicit Drug Use in US Adults with Chronic Low Back Pain: NHANES 2009-2010.</strong><br>
            <i>Anna Shmagel, Robert Foley</i><br>
            Presented at: ACR/ARHP Annual Meeting, San Francisco, CA, 2015</p><br>

            <p><strong>Prescription Medication Use in Community-Based US Adults with Chronic Low Back Pain: NHANES 2009-2010.</strong><br>
            <i>Anna Shmagel, Robert Foley</i><br>
            Presented at: ACR/ARHP Annual Meeting, San Francisco, CA, 2015</p><br>

            <p><strong>Single Cell RNA-Seq Analysis of Citrullinated Alpha-Enolase Peptide-Specific B Cells in RA.</strong><br>
            <i>Yogita Ghodke-Puranik, Na Zhang, Jessica M. Dorschner, Anna Shmagel, Zhongbo Jin, Philip
            Titcombe, Timothy B. Niewold, Daniel Mueller</i><br>
            Poster presented at: ACR/ARHP Annual Meeting, San Francisco, CA, 2015</p>
        </div>

        <div zf-tab="" title="Regional Conferences">
            <h5><strong>Presentations at Regional Conferences</strong></h5><br><br>

            <p><strong>Spontaneous pneumothorax in early scleroderma.</strong><br>
            <i>Anna Shmagel, Maja Delibasic</i><br>
            Poster presented at: American College of Physicians Illinois Chapter Annual Meeting, Chicago, IL, 2011</p><br>

            <p><strong>“A Nasty Rash”. Antiepileptic drug hypersensitivity syndrome.</strong><br>
            <i>Maja Delibasic, Anna Shmagel, Naitik Sheth, Vidhya Vivek, Alfred Amin, Nataliya Kozodoy, Rahil Shaikh</i><br>
            Poster presented at: American College of Physicians Illinois Chapter Annual Meeting, Chicago, IL, 2011</p><br>

            <p><strong>Using quality improvement techniques to improve handoffs to night float residents: development of the 10D model.</strong><br>
            <i>Cemal Yazici, Hany Abdelmalak, Anumeha Gupta, Anna Shmagel, Shanu Gupta, Bhanu Pisini, Maged Attia Saad, Zvezdana Bogojevic, Firas Zakaria, Shazia Shahzaad, Muralidhar Yerramadha, Eman Albaddawi, Steven Potts, Vineet Arora</i><br>
            Presented at: Society of General Internal Medicine Meeting, Chicago, IL, 2009/10</p><br>

            <p><strong>The role of body weight in response to vitamin D repletion therapy: a retrospective study.</strong><br>
            <i>Anna Shmagel, Catherine Meyer</i><br>
            Poster presented at: American College of Physicians Illinois Chapter Annual Meeting, Chicago, IL, 2009</p>
            <a zf-open="basicModalVitD" class="dark button">View Poster</a>
        </div>

        <div zf-tab="" title="Local Conferences - MN">
            
            <h5><strong>Presentations at Local Conferences in Minnesota</strong></h5><br><br>

            <p><strong>Epidemiologic characteristics of US adults with chronic low back pain: NHANES 2009</strong><br>
            <i>Anna Shmagel, Robert Foley</i><br>
            Oral presentation at Citywide Research Conference, Minneapolis, MN 2015</p><br>

            <p><strong>Effects of B-cell depleting therapy in rheumatoid arthritis: insights into mechanisms of disease.</strong><br>
            <i>Anna Shmagel, Daniel Mueller</i><br>
            Oral presentation at Citywide Journal Club, Minneapolis, MN, 2014</p><br>

            <p><strong>Weak, weaker, why? A case of statin-induced HMG-CoA reductase Ab-positive myositis.</strong><br>
            <i>Anna Shmagel, Hollis Krug</i><br>
            Oral presentation at Citywide Case Conference, Minneapolis, MN, 2013</p><br>

            <p><strong>Clinical outcomes of remission induction therapy for severe ANCA-associated vasculitis: who doesn’t respond?</strong><br>
            <i>Anna Shmagel, Peter Schlesinger, Anne Minenko</i><br>
            Oral presentation at Citywide Journal Club, Minneapolis, MN, 2013</p><br>
        </div>

        <div zf-tab="" title="Local Conferences - IL">
            
            <h5><strong>Presentations at Local Conferences in Illinois</strong></h5><br><br>

            <p><strong>Journal Club: Levothyroxine dose and risk of fractures in older adults: a nested case-control study.</strong><br>
            <i>Irina Komarova, Anna Shmagel, Kambiz Zorriasateynzadeh, Steven Potts, Shanu Gupta, Jane Jih</i><br>
            Presented at Medicine Journal Club, Mercy Hospital, Chicago, IL, 2011</p><br>

            <p><strong>Lung Cancer.</strong><br>
            <i>Anna Shmagel, Seshan Subramanian</i><br>
            Presented at Multidisciplinary Tumor Board, Mercy Hospital, Chicago, IL, 2011</p><br>

            <p><strong>Atrial septal defects in adults.</strong><br>
            <i>Ahmad Alsibai, Deepa Dharanipragada, Maged Saad, Anna Shmagel, Ming Hwang</i><br>
            Presented at Cardiology Team Conference, Mercy Hospital, Chicago, IL, 2010</p><br>

            <p><strong>Pseudotumor Cerebri.</strong><br>
            <i>Vasin Jungtrakoolchai, Anna Shmagel, Eman Albadawi, Shanu Gupta, Michael McDonnell</i><br>
            Presented at Medicine Case Conference, Mercy Hospital, Chicago, IL, 2009</p>
        </div>
    </div>
</div>
