
<!-- MEDIUM SCREENS -->

  <div class="grid-block show-for-medium-only medium-12 publicationsSectionMedium">
    <div class="grid-content">
      
      <div class="sservice darkkhaki taller">
        
        <div class="sservice-icon-box">
          <img src="assets/img/jgme.jpg" alt="" class="sservice-icon">
        </div>
        
        <h5 class="sservice-heading"><span>Journal of Graduate Medical Education</span></h5><br>
        <h6 class="sservice-description"><a href="http://www.jgme.org/doi/pdf/10.4300/JGME-D-12-00175.1"><span>Sustainability and Effectiveness of a Quality Improvement Project to Improve Handoffs to Night Float Residents in an Internal Medicine Residency Program.</a><br>
        Cemal Yazici, Hany Abdelmalak, Shanu Gupta, Anna Shmagel, Eman Albaddawi, Vivian Tsang, Steven Potts, Vineet M. Arora<br>
        2013 Jun; 5(2): 303-8            
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="http://www.jgme.org/doi/pdf/10.4300/JGME-D-12-00175.1" class="dark hollow button">PDF</a>
        </span></h6>
      </div>
        
<!--  <div zf-modal="" id="basicModalHandoffs" class="large">
        <a zf-close="" class="close-button">×</a><br><br><br>  
      <div>
        <iframe src="https://drive.google.com/file/d/0BwVrq5oykPN5T0ZGZzhBNnBiS00/preview" width="100%" height="600"></iframe>
        <object data="assets/pdf/jgme.pdf" type="application/pdf" width="100%" height="700px">
        <embed src="assets/pdf/jgme.pdf" type="application/pdf" width="100%" height="700px"></embed>
        </object>
      </div>
      </div> -->
    
    </div>

    <div class="grid-content">
      <div class="sservice purple">
        <div class="sservice-icon-box">
          <img src="assets/img/jcrlogo.jpg" alt="" class="sservice-icon">
        </div>
        <h5 class="sservice-heading"><span>Journal of Clinical Rheumatology</span></h5><br>
        <h6 class="sservice-description"><a href="http://journals.lww.com/jclinrheum/Citation/2011/12000/Granulomatosis_With_Polyangiitis__Wegener_s_.9.aspx"><span>Granulomatosis With Polyangiitis (Wegener’s) Presenting as a Periaortic Mass</a><br>
        Rediet Kokebie, Catherine Meyer<br>
        2011 Dec; 17(8):442-3</span></h6>
      </div>
    </div>

    <div class="grid-content">
      <div class="sservice blue">
        <div class="sservice-icon-box">
          <img src="assets/img/acr.jpg" alt="" class="sservice-icon">
        </div>
        <h5 class="sservice-heading"><span>Arthritis Care & Research</span></h5><br>
        <h6 class="sservice-description"><span>Epidemiology of Chronic Low Back Pain in US Adults: National Health and Nutrition Examination Survey 2009-2010.<br>
        Anna Shmagel, Robert Foley, Hassan Ibrahim<br>
        Under review (submitted July 2015)</span></h6>
      </div>
    </div>

  </div>

<!-- LARGE SCREENS -->

  <div class="grid-block show-for-large large-12 publicationsSection">

    <div class="grid-block large-4 pubPadding">
      <div class="grid-content">
        <div class="service darkkhaki">
          <div class="service-icon-box">
            <img src="assets/img/jgme.jpg" alt="" class="service-icon">
          </div>

          <h4 class="service-heading"><span>Journal of Graduate Medical Education</span></h4><br>
          <h6 class="service-description"><a href="http://www.jgme.org/doi/pdf/10.4300/JGME-D-12-00175.1"><span>Sustainability and Effectiveness of a Quality Improvement Project to Improve Handoffs to Night Float Residents in an Internal Medicine Residency Program.</a><br><br>
          Cemal Yazici, Hany Abdelmalak, Shanu Gupta, Anna Shmagel, Eman Albaddawi, Vivian Tsang, Steven Potts, Vineet M. Arora<br>
          2013 Jun; 5(2): 303-8<br><br>
          <a href="http://www.jgme.org/doi/pdf/10.4300/JGME-D-12-00175.1" class="dark hollow button">PDF</a>
          </span></h6></div>
          
<!--      <div zf-modal="" id="basicModalHandoffs" class="large">
            <a zf-close="" class="close-button">×</a><br><br><br>
          <div>
            <iframe src="https://drive.google.com/file/d/0BwVrq5oykPN5T0ZGZzhBNnBiS00/preview" width="100%" height="800"></iframe>
            <object data="assets/pdf/jgme.pdf" type="application/pdf" width="100%" height="800px">
              <embed src="assets/pdf/jgme.pdf" type="application/pdf" width="100%" height="800px"></embed>
            </object>
          </div>
          </div> -->

      </div>
    </div>

    <div class="grid-block large-4 pubPadding">
      <div class="grid-content">
        <div class="service purple">
          <div class="service-icon-box">
            <img src="assets/img/jcrlogo.jpg" alt="" class="service-icon">
          </div>

          <h4 class="service-heading"><span>Journal of Clinical Rheumatology</span></h4><br>

          <h5 class="service-description"><a href="http://journals.lww.com/jclinrheum/Citation/2011/12000/Granulomatosis_With_Polyangiitis__Wegener_s_.9.aspx"><span>Granulomatosis With Polyangiitis (Wegener’s) Presenting as a Periaortic Mass</span></a></h5><br><br>

          <h5 class="service-description"><span>Anna Shmagel, Rediet Kokebie, Catherine Meyer</span></h5><br><br>

          <h6 class="service-description"><span>2011 Dec; 17(8):442-3</span></h6>
        </div>
      </div>
    </div>

    <div class="grid-block large-4 pubPadding">
      <div class="grid-content">
        <div class="service blue">
          <div class="service-icon-box">
            <img src="assets/img/acr.jpg" alt="" class="service-icon">
          </div>

          <h4 class="service-heading"><span>Arthritis Care & Research</span></h4><br>

          <h5 class="service-description"><span>Epidemiology of Chronic Low Back Pain in US Adults: National Health and Nutrition Examination Survey 2009-2010.</span></h5><br><br>

          <h5 class="service-description"><span>Anna Shmagel, Robert Foley, Hassan Ibrahim </span></h5><br><br>

          <h6 class="service-description"><span>Under review, submitted for publication, July 2015</span></h6>
        </div>
      </div>
    </div>
  