
<div class="grid-block medium-12 researchSection">

        <div zf-tabs="">

            <div zf-tab="" title="Clinical Research Trainee">
                <h5><strong>Clinical Research Trainee</strong></h5>
                <p>July 2014-Present<br>
                University of Minnesota Division of Renal Diseases, Minneapolis, Minnesota<br>
                Funded by NIH T32 Grant, PI: Dr. Hassan Ibrahim, Key Mentor: Dr. Robert Foley</p><br>

                <h6><strong>Current Projects</strong></h6><br>
                <p><strong><i>Medication use patterns in US adults with chronic low back pain (NHANES database).</i></strong><br>
                While multiple analgesics are marketed and routinely used in patients with chronic low back pain, little is known about comparative effectiveness and long-term safety of different classes of analgesics. We are using multivariate models to estimate the current analgesic use and prescription patterns in the US, starting with NHANES data.</p><br>

                <p><i><strong>Spinal bone mineral density (BMD) in subjects with chronic low back pain (NHANES database).</i></strong><br>
                Chronic low back pain is multifactorial, with a number of behavioral risk factors that may also be associated with low BMD. We are exploring the relationship between spinal BMD and chronic low back pain using the comprehensive data on BMD in the US population available through NHANES.</p>

                <p><i><strong>The role of uric acid and urate-lowering medications in renal transplant survival.</i></strong><br>
                Hyperuricemia has been associated with shorter renal transplant survival. It remains unclear whether urate-lowering therapy improves transplant survival. We are designing a cohort study to evaluate renal transplant survival in hyperuricemic patients treated with urate-lowering therapy, using over twenty years of prospective data from the University of Minnesota kidney transplant registry.</p>
            </div>

            <div zf-tab="" title="Research Trainee">
                <h5><strong>Research Trainee, Dr. Daniel Mueller’s Immunology Laboratory</strong></h5>
                <p>January 2014-Present<br>
                University of Minnesota Division of Rheumatic and Autoimmune Diseases, Minneapolis, Minnesota<br>
                Trained in laboratory research methods, including tetramer enrichment technique and flow cytometry</p><br>

                <h6><strong>Current Projects</strong></h6><br>
                <p><strong><i>Utility of citrullinated-peptide antigen tetramers as biomarkers of clinical response to RA therapy.</i></strong><br>
                Expansion of autoreactive, citrullinated peptide-specific B lymphocytes has been described in RA, however the role of these cells in progression of disease remains unclear. This is a prospective study that will evaluate citrullinated peptide-specific switched memory B cell counts in RA patients overtime. The study aims to establish the predictive value of these cells in response to RA therapy.</p><br>
            </div>

            <div zf-tab="" title="Research Assistant">
                <h5><strong>Research Assistant, Autoimmune and Musculoskeletal Disease Group</strong></h5>
                <p>March 2009-May 2009<br>
                Feinstein Institute for Medical Research, Manhasset, New York<br>
               Recruited and supervised patients for the Study of Cognitive Function in SLE<br>
               Entered and analyzed data for the Study of Cognitive Function in SLE and the SLICC cohort</p><br>
            </div>

            <div zf-tab="" title="Administrative Assistant">
                <h5><strong>Administrative Assistant</strong></h5>
                <p>March 2002-August 2003<br>
                Perm Regional AIDS Center, Perm, Russia<br>
                Assisted with regional coordination of HIV control and prevention efforts<br>
                Assisted with data collection and analysis for HIV epidemiologic research studies</p><br>
            </div>

        </div>
    </div>
</div>